version: 2
jobs:

  # Job for testing helm and plain kubernetes deployment of core
  kubernetes:
    machine: true
    environment:
      CHANGE_MINIKUBE_NONE_USER: true
    working_directory: ~/core
    steps:
      - checkout
      - run:
          name: Install Helm
          command: |
            curl https://raw.githubusercontent.com/kubernetes/helm/master/scripts/get > get_helm.sh
            chmod 700 get_helm.sh
            ./get_helm.sh
      - run:
          name: Lint charts
          command: |
            helm lint ./kubernetes/helm/qlik-core --set engine.acceptEULA=yes
            helm lint ./kubernetes/helm/qlik-core/charts/engine --set acceptEULA=yes
            helm lint ./kubernetes/helm/qlik-core/charts/mira
            helm lint ./kubernetes/helm/qlik-core/charts/license-service --set LICENSES_SERIAL_NBR=$LICENSES_SERIAL_NBR,LICENSES_CONTROL_NBR=$LICENSES_CONTROL_NBR
      - run:
          name: Install Kubectl
          command: |
            curl -Lo kubectl https://storage.googleapis.com/kubernetes-release/release/v1.9.3/bin/linux/amd64/kubectl && chmod +x kubectl && sudo mv kubectl /usr/local/bin/
      - run:
          name: Install Minikube
          command: |
            curl -Lo minikube https://storage.googleapis.com/minikube/releases/v0.25.0/minikube-linux-amd64 && chmod +x minikube && sudo mv minikube /usr/local/bin/
      - run:
          name: Start Minikube
          command: |
            sudo minikube start --vm-driver=none --kubernetes-version=v1.9.0 --extra-config=apiserver.Authorization.Mode=RBAC
            sudo minikube update-context
      - run:
          name: Install socat (needed by helm)
          command: |
            sudo apt-get update
            sudo apt-get install socat
      - run:
          name: Install nsenter (needed by helm)
          command: |
            cd /tmp; curl https://mirrors.edge.kernel.org/pub/linux/utils/util-linux/v2.25/util-linux-2.25.tar.gz | tar -zxf-; cd util-linux-2.25;
            sudo apt-get install autopoint autoconf libtool automake
            ./configure --without-python --disable-all-programs --enable-nsenter --without-ncurses
            sudo make nsenter; sudo cp nsenter /usr/local/bin
      - run:
          name: Create service account for cluster-admin role (Helm)
          command: sudo kubectl create -f ./kubernetes/helm/rbac-config.yaml
      - run:
          name: Helm init and wait for tiller to be running
          command: sudo helm init --service-account tiller --debug; sudo kubectl rollout status -w deployment/tiller-deploy --namespace=kube-system;
      - run:
          name: Helm install qlik-core
          command: sudo helm install ./kubernetes/helm/qlik-core --set global.setType=NodePort,engine.acceptEULA=yes,--set license-service.LICENSES_SERIAL_NBR=$LICENSES_SERIAL_NBR,license-service.LICENSES_CONTROL_NBR=$LICENSES_CONTROL_NBR --name test --debug
      - run:
          name: Check health of services
          command: |
            # Check mira health
            MIRA_URL=$(sudo minikube service test-mira --url)
            curl -fs "$MIRA_URL/v1/health"
            # Check license service health
            LICENSE_SERVICE_URL=$(sudo minikube service test-license-service --url)
            curl -fs "$LICENSE_SERVICE_URL/v1/health"
      - run:
          name: Verify number of QIX Engines found
          command: |
            MIRA_URL=$(sudo minikube service test-mira --url)
            ./.circleci/verify_qix_engines.sh $MIRA_URL
      - run:
          name: Helm delete qlik-core
          command: sudo helm delete test --debug
      - run:
          name: Delete service account for cluster-admin role (Helm)
          command: sudo kubectl delete -f ./kubernetes/helm/rbac-config.yaml
      - run:
          name: Give default service account view access to Kubernetes API
          command: sudo kubectl create -f ./kubernetes/plain/rbac-config.yaml
      - run:
          name: Accept EULA
          command: grep -rl AcceptEULA ./kubernetes/plain | xargs sed -i 's/AcceptEULA=no/AcceptEULA=yes/g'
      - run:
          name: Inject license details
          command: sudo kubectl create configmap license-data --from-literal LICENSES_SERIAL_NBR=$LICENSES_SERIAL_NBR --from-literal LICENSES_CONTROL_NBR=$LICENSES_CONTROL_NBR
      - run:
          name: Kubernetes plain qlik-core
          command: sudo kubectl create -f ./kubernetes/plain/qlik-core/
      - run:
          name: Check health of services
          command: |
            # Check mira health
            MIRA_URL=$(sudo minikube service mira --url)
            curl -fs "$MIRA_URL/v1/health"
            # Check license service health
            LICENSE_SERVICE_URL=$(sudo minikube service license-service --url)
            curl -fs "$LICENSE_SERVICE_URL/v1/health"
      - run:
          name: Verify number of QIX Engines found
          command: |
            MIRA_URL=$(sudo minikube service mira --url)
            ./.circleci/verify_qix_engines.sh $MIRA_URL
      - run:
          name: Kubernetes delete qlik-core
          command: sudo kubectl delete -f ./kubernetes/plain/qlik-core/

  # Job for testing docker swarm deployment of core
  swarm:
    machine: true
    working_directory: ~/core
    steps:
      - checkout
      - run:
          name: Spin up core in a local docker swarm
          command: |
            cd docker-swarm/
            docker swarm init
            ACCEPT_EULA=yes LICENSES_SERIAL_NBR=$LICENSES_SERIAL_NBR LICENSES_CONTROL_NBR=$LICENSES_CONTROL_NBR docker-compose config > accept-eula.yml
            docker stack deploy -c ./accept-eula.yml core
      - run:
          name: Verify that services are healthy
          command: |
            set +e

            # Verify Mira health
            RETRIES=0
            while (( MIRA_STATUS != "200" && RETRIES != 30 )); do
              MIRA_STATUS=$(curl -s -o /dev/null -w ''%{http_code}'' http://localhost:9100/v1/health)
              sleep 2
              RETRIES=$((RETRIES + 1 ))
            done

            echo "Mira returned status code: $MIRA_STATUS"

            # Verify License-Service health
            RETRIES=0
            while (( LICENSE_STATUS != "200" && RETRIES != 30 )); do
              LICENSE_STATUS=$(curl -s -o /dev/null -w ''%{http_code}'' http://localhost:9200/v1/health)
              sleep 2
              RETRIES=$((RETRIES + 1 ))
            done

            echo "License-Service returned status code: $LICENSE_STATUS"

            # Verify QIX Engine health
            RETRIES=0
            while (( ENGINE_STATUS != "200" && RETRIES != 30 )); do
              ENGINE_STATUS=$(curl -s -o /dev/null -w ''%{http_code}'' http://localhost:9076/healthcheck)
              sleep 2
              RETRIES=$((RETRIES + 1 ))
            done

            echo "Engine returned status code: $ENGINE_STATUS"

            if [[ "$MIRA_STATUS" != "200" || "$LICENSE_STATUS" != "200" || "$ENGINE_STATUS" != "200" ]]; then
              echo "All services did not return status code 200 on health endpoints"
              exit 1
            fi
      - run:
          name: Verify number of QIX Engines found
          command: ./.circleci/verify_qix_engines.sh "http://localhost:9100"
      - run:
          name: Remove deployment and leave swarm
          command: |
            docker stack rm core
            docker swarm leave --force

  # Job for testing nomad deployment of core
  nomad:
    machine: true
    working_directory: ~/core
    steps:
      - checkout
      - run:
          name: Install Consul
          command: |
            curl -Lo consul.zip https://releases.hashicorp.com/consul/1.0.0/consul_1.0.0_linux_amd64.zip
            unzip -d consul-unzip consul.zip
            chmod +x consul-unzip/consul
            sudo mv consul-unzip/consul /usr/local/bin/
      - run:
          name: Start Consul server
          command: sudo consul agent -dev -client=0.0.0.0 -dns-port=53 -recursor=8.8.8.8
          background: true
      - run:
          name: Install Nomad
          command: |
            curl -Lo nomad.zip https://releases.hashicorp.com/nomad/0.7.1/nomad_0.7.1_linux_amd64.zip
            unzip -d nomad-unzip nomad.zip
            chmod +x nomad-unzip/nomad
            sudo mv nomad-unzip/nomad /usr/local/bin/
      - run:
          name: Accept EULA
          command: grep -rl AcceptEULA ./nomad | xargs sed -i 's/AcceptEULA=no/AcceptEULA=yes/g'
      - run:
          name: Set LEF environment variables for license service
          command: |
            grep -rl LICENSES_SERIAL_NBR ./nomad | xargs sed -i 's/LICENSES_SERIAL_NBR = ""/LICENSES_SERIAL_NBR = "$LICENSES_SERIAL_NBR"/g'
            grep -rl LICENSES_CONTROL_NBR ./nomad | xargs sed -i 's/LICENSES_CONTROL_NBR = ""/LICENSES_CONTROL_NBR = "$LICENSES_CONTROL_NBR"/g'
      - run:
          name: Start Nomad server
          command: sudo nomad agent -dev -config=./nomad/nomad.hcl
          background: true
      - run:
          name: Deploy Core to Nomad
          command: |
            # Let the nomad agent have some time to start
            sleep 5

            # Deploy services
            sudo nomad run ./nomad/mira.nomad
            sudo nomad run ./nomad/license-service.nomad
            sudo nomad run ./nomad/engine.nomad
      - run:
          name: Check health of Core services
          command: |
            set +e
            # Wait for Mira to be up and running
            while [ "$CONTAINER_ID" == "" ]; do
              CONTAINER_ID=$(sudo docker ps -aqf "name=mira")
              sleep 1
            done
            echo "Mira is up and running!"

            # Check Mira health
            MIRA_URL=$(sudo docker port "$CONTAINER_ID" 9100)
            curl -fs "$MIRA_URL/v1/health"

            # Check that Mira returns correct number of qix engines
            ./.circleci/verify_qix_engines.sh $MIRA_URL

workflows:
  version: 2
  kubernetes_swarm_and_nomad:
    jobs:
      - kubernetes
      - swarm
      - nomad
