apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: engine
  labels:
    app: engine
  annotations:
    prometheus.io/scrape: "true"
spec:
  replicas: 2
  template:
    metadata:
      labels:
        app: engine
        service: engine
        qix-engine: ""
    spec:
      containers:
      - name: engine
        image: "qlikcore/engine:12.311.0"
        args: [
          "-S", "AcceptEULA=no", # change to 'yes' if you accept the Qlik Core EULA
          "-S", "LicenseServiceUrl=http://license-service:9200"
        ]
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 9076
        - containerPort: 9090
